<h1 align = 'center' style = "font-size:60px; font-family:verdana ; font-weight : normal; background-color: #f6f5f5 ; color : #fe346e; text-align: center; border-radius: 100px 100px; padding: 10px"> ML.AI Week 1 Data Structures in Python Tutorial</h1>

<div class="alert alert-block alert-info" style="font-size:14px; font-family:verdana; line-height: 1.7em; background-color:#5642C5; color:white;">
ðŸ“Œ &nbsp; About ML.AI<br>
 MachineLearning.AI is a 7 week course, and it will take you from the basics of Python to the detailed knowledge about Data Science and Machine Learning as well as an Introduction to Neural Networks and Deep Learning. 
<br><br>
The course offers a comprehensive blend of high-quality resources sourced from the internet, including engaging videos, informative blogs, weekly assignments, and culminating in an exciting hackathon to assess your knowledge and skills. By the end of 7 weeks, you will have a solid understanding of the key concepts and techniques of Machine Learning as well as an appreciation of their potential impact on our society.
<br><br>
    
ðŸ“Œ &nbsp; Structure of the Course<br><br>
Week 1:  Introduction To Python & Python Libraries<br>
Week 2: Introduction to ML and Basic ML Algorithms<br>
Week 3: Advanced ML Algorithms<br>
Week 4: Unsupervised Learning Hackathon<br>
Week 5: Ensemble Learning and Dealing with Real World Data<br>
Week 6: Introduction to Neural Networks and Deep Learning<br>
Week 7: Final Hackathon<br>
<br>
ðŸ“Œ &nbsp; What Next?<br>Advanced ML.AI, a guiding resource for Deep Learning Specialization
</div>

----

<div style="font-size:14px; font-family:verdana;"><span style = 'color:#fe346e'>Data Structures</span> are a way of organizing data so that it can be accessed more efficiently depending upon the situation. Data Structures are fundamentals of any programming language around which a program is built. Python helps to learn the fundamental of these data structures in a simpler way as compared to other programming languages.
<br><br>
There are broadly <span style = 'color:#fe346e'>two types of Data Structures in Python</span>:
    <ul>
        <li>In-Built</li>
        <li>User-Defined</li>
    </ul>
Here we would be looking at the in-built data structures which enable storing and accessing data optimally.
</div><br>  

<div style="font-size:14px; font-family:verdana;">After completing the following notebook, you will have a strong understanding and be comfortable working with <span style="color:#fe346e;">Lists, Sets, Tuples and Dictionaries.</span> You will have learned the fundamental concepts of each data structure, including their syntax, properties, and methods.
:<br><br>

<ol>
    <li>In regards to <span style="color:#fe346e;">Lists</span>, you will have learned how to create and modify them, as well as how to access their elements using indexing and slicing. You will also be able to perform operations such as sorting and reversing, and understand the difference between shallow and deep copying.</li>
    <li>For <span style="color:#fe346e;">Tuples</span>, you will have learned how to create and modify them, as well as how to access their elements using indexing and slicing. You will also understand the difference between tuples and lists, and the concept of immutable objects.</li>
    <li>For <span style="color:#fe346e;">Sets</span>, you will have learned how to create and modify them, as well as how to perform set operations such as union, intersection, and difference. You will also understand the concept of mutable and immutable sets and how to iterate through them.</li>
    <li>Finally, for <span style="color:#fe346e;">Dictionaries</span>, you will have learned how to create and modify dictionaries, how to access their keys and values, and how to perform operations such as merging and updating. You will also understand how to use dictionaries to efficiently store and retrieve data.</li>
</ol>
    
Overall, by completing this notebook, you will have gained a strong foundation in these fundamental data structures and be able to confidently apply them in your Python programming.

</div>

----
    
<!-- <br><br>
<blockquote><p style="font-size:16px; color:#159364; font-family:verdana;">ðŸ’¬ Finally, I would like to take this opportunity to remind everyone to be <code>kind</code>, <code>just</code> and <code>mindful</code>ðŸ˜ƒ</p></blockquote> -->

<div class="alert alert-block alert-info" style="font-size:18px; font-family:verdana; line-height: 1.7em; background-color:#5642C5; color:white;">
    ðŸ“Œ &nbsp; Feel free to create your own fork and play around with the code.  Click <b>"Copy & Edit"</b> in the top right to get your own editable version of this notebook</div>

<h1 id = 'lists' style = "font-size:30px; font-family:verdana ; font-weight : normal; background-color: #f6f5f5 ; color : #fe346e; text-align: center; border-radius: 100px 100px; padding: 10px">Lists
<a class="anchor-link" href="https://www.kaggle.com/code/varunnagpalspyz/ml-ai-week-1-data-structures-in-python/notebook#lists">Â¶</a>
</h1>

Lists are the most commonly used data structure. Think of it as a sequence of 

*   List item
*   List item

Data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.  Note that, lists are mutable - that is, the value of elements of a list can be altered.

<h2> Basics</h2>

In [1]:
i_am_a_list = []

In [2]:
print(type(i_am_a_list))

<class 'list'>

<div> 
One can directly assign the sequence of data to a list x as shown.
</div>

In [3]:
fruits = ['apple', 'orange']

<div>A list can have elements which come from different basic types.</div>

In [4]:
 weird = [6, 99, 77, 'Apple']

<h2>Indexing</h2>

<div>In python, Indexing starts from 0. Thus now the list fruits, which has two elements will have apple at 0 index and orange at 1 index.</div>

In [5]:
fruits[1]

'orange'

<div>Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.</div>

In [6]:
fruits[-1]

'orange'

<div>As you might have already guessed, fruits[0] = fruits[-2], fruits[1] = fruits[-1]. This concept can be extended towards lists with more many elements.</div>

In [7]:
veggies = ['carrot','potato']

<div>Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say 'plants' which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.</div>

In [8]:
plants = [fruits, veggies]
print(plants)

[['apple', 'orange'], ['carrot', 'potato']]

<div>Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.
<br><br>
Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence plants[0] should give us the first list which contains 'apple'.</div>

In [9]:
fruit_plants = plants[0]
print(fruit_plants)

['apple', 'orange']

<div>Now observe that fruit_plants is not at all a nested list thus to access 'apple', fruit_plants should be indexed at 0.</div>

In [10]:
fruit_plants[0]

'apple'

<div>Instead of doing the above, In python, you can access 'apple' by just writing the index values each time side by side.</div>

In [11]:
print(plants)

print(plants[0][0])
print(plants[0][1])
print(plants[1][0])
print(plants[1][1])

[['apple', 'orange'], ['carrot', 'potato']]
apple
orange
carrot
potato

<div>If there was a list inside a list inside a list then you can access the innermost value by executing plants[ ][ ][ ].</div>

# <h2>Slicing</h2>

<div>
Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.
<br><br>
The format for list slicing is <b>Lst[Start:Stop:Step]</b>.<br><br>

If Lst is a list, then the above expression returns the portion of the list from index <b>Start (included)</b> to index <b>Stop (not included)</b>, at a step size <b>Step</b>.

<ul>
    <li>Start is the index of the list where slicing starts.</li>
    <li>Stop is the index of the list where slicing ends.</li>
     <li>Step allows you to select nth item within the range start to stop.</li>
</ul>
 </div>

In [12]:
# Defining list of first 9 lowercase alphabets
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [13]:
# Basic Example of Slicing
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[2:7])
# Prints ['c', 'd', 'e', 'f', 'g']

['c', 'd', 'e', 'f', 'g']

In [14]:
# Slicing with Negative Indices|
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[-7:-2])
# Prints ['c', 'd', 'e', 'f', 'g']

['c', 'd', 'e', 'f', 'g']

In [15]:
# Slicing with a mix of positive and negative indices
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[2:-5])
# Prints ['c', 'd']

['c', 'd']

<h3>Step Size</h3>

<div>Specifying the step of the slicing using step parameter. The step parameter is optional and by default 1. You can even specify a negative step size.</div>

In [16]:
# Return every 2nd item between position 2 to 7
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[2:7:2])
# Prints ['c', 'e', 'g']

['c', 'e', 'g']

In [17]:
# Negative Step Size
# Return every 2nd item between position 6 to 1
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])
# Prints ['g', 'e', 'c']

['g', 'e', 'c']

<h3>Slice at Beginning & End</h3>

In [18]:
# Slice the first three items from the list
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[:3])
# Prints ['a', 'b', 'c']

['a', 'b', 'c']

In [19]:
# Slice the last three items from the list
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:])
# Prints ['g', 'h', 'i']

['g', 'h', 'i']

<h3>Reverse a List</h3>

In [20]:
L = ['a', 'b', 'c', 'd', 'e']
print(L[::-1])
# Prints ['e', 'd', 'c', 'b', 'a']

['e', 'd', 'c', 'b', 'a']

<h3>Modify Multiple List Values</h3>

In [21]:
# Modify multiple list items
L = ['a', 'b', 'c', 'd', 'e']
L[1:4] = [1, 2, 3]
print(L)
# Prints ['a', 1, 2, 3, 'e']

['a', 1, 2, 3, 'e']

In [22]:
# Replace multiple elements in place of a single element
L = ['a', 'b', 'c', 'd', 'e']
L[1:2] = [1, 2, 3]
print(L)
# Prints ['a', 1, 2, 3, 'c', 'd', 'e']

['a', 1, 2, 3, 'c', 'd', 'e']

<h3>Inserting and Deleting Multiple List Items</h3>

In [24]:
# Insert at the start
L = ['a', 'b', 'c']
L[:0] = [1, 2, 3]
print(L)
# Prints [1, 2, 3, 'a', 'b', 'c']

# Insert at the end
L = ['a', 'b', 'c']
L[len(L):] = [1, 2, 3]
print(L)
# Prints ['a', 'b', 'c', 1, 2, 3]

# Insert in the middle
L = ['a', 'b', 'c']
L[1:1] = [1, 2, 3]
print(L)
# Prints ['a', 1, 2, 3, 'b', 'c']

[1, 2, 3, 'a', 'b', 'c']
['a', 'b', 'c', 1, 2, 3]
['a', 1, 2, 3, 'b', 'c']

In [25]:
L = ['a', 'b', 'c', 'd', 'e']
L[1:5] = []
print(L)
# Prints ['a']

L = ['a', 'b', 'c', 'd', 'e']
del L[1:5]
print(L)
# Prints ['a']

['a']
['a']

In [26]:
nums = [num for num in range(10)] # How did I do this? Answer at end of notebook
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<h2>Built in List Functions</h2>

To find the length of the list or the number of elements in a list, **`len()`** is used.

In [27]:
len(nums)

10

If the list consists of all integer elements then **`min( )`** and **`max( )`** gives the minimum and maximum value in the list.

In [28]:
min(nums)

0

In [29]:
max(nums)

9

<div>Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.</div>

In [30]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

<div>There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.</div>

In [31]:
elements = ['Earth','Air','Fire','Water']

<div>To check if 'Fire' and 'Rajath' is present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use 'a in b' concept which would return 'True' if a is present in b and 'False' if not.</div>

In [32]:
'Fire' in elements

True

In [33]:
'Rajath' in elements

False

In a list with elements as string, **`max( )`** and **`min( )`** is applicable. **`max( )`** would return a string element whose ASCII value is the highest and the lowest when **`min( )`** is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [36]:
mlist = ['bzaa','ds','nc','a','z','klm']

In [37]:
print(max(mlist))
print(min(mlist))

z
a

<div>Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?</div>

In [40]:
nlist = ['1','94','93','1000']

In [41]:
print(max(nlist))
print(min(nlist))

94
1

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.<br>
But if you want to find the **`max( )`** string element based on the length of the string then another parameter 'key=len' is declared inside the **`max( )`** and **`min( )`** function.

In [42]:
print(max(elements, key=len))
print(min(elements, key=len))

Earth
Air

But even 'Water' has length 5. **`max()`** or **`min()`** function returns the first element when there are two or more elements with the same length.
<br>
Any other built in function can be used or lambda function in place of len.

A string can be converted into a list by using the **`list()`** function.

In [43]:
list('hello')

['h', 'e', 'l', 'l', 'o']

**`append( )`** is used to add a element at the end of the list.

In [44]:
lst = [1,1,4,8,7]

In [45]:
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

**`count( )`** is used to count the number of a particular element that is present in the list.

In [46]:
lst.count(1)

3

**`append( )`** function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [47]:
lst1 = [5,4,2,8]

In [48]:
lst.append(lst1)
print(lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

But if nested list is not what is desired then **`extend( )`** function can be used.

In [49]:
lst = [1,1,4,8,7]
lst.extend(lst1)
print(lst)

[1, 1, 4, 8, 7, 5, 4, 2, 8]

**`index( )`** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [52]:
lst.index(4)

2

**`insert(x,y)`** is used to insert a element y at a specified index value x. **append( )** function made it only possible to insert at the end.

In [53]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', 5, 4, 2, 8]

**`insert(x,y)`** inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [54]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 5, 4, 2, 8]

**`pop( )`** function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [55]:
lst.pop()

8

Index value can be specified to pop a ceratin element corresponding to that index value.

In [56]:
lst.pop(0)

1

**`pop( )`** is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the **`remove( )`** function.

In [57]:
lst.remove('Python')
print(lst)

[1, 4, 8, 7, 5, 4, 2]

Alternative to **`remove`** function but with using index value is **`del`**

In [58]:
del(lst[1])
print(lst)

[1, 8, 7, 5, 4, 2]

The entire elements present in the list can be reversed by using the **`reverse()`** function.

In [59]:
lst.reverse()
print(lst)

[2, 4, 5, 7, 8, 1]

Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list is not reversed.

Python offers built in operation **`sort( )`** to arrange the elements in ascending order.

In [60]:
lst.sort()
print(lst)

[1, 2, 4, 5, 7, 8]

For descending order, By default the reverse condition will be False for reverse. Hence changing it to True would arrange the elements in descending order.

In [61]:
lst.sort(reverse=True)
print(lst)

[8, 7, 5, 4, 2, 1]

Similarly for lists containing string elements, **`sort( )`** would sort the elements based on it's ASCII value in ascending and by specifying `reverse=True` in descending.

In [62]:
elements.sort()
print(elements)
elements.sort(reverse=True)
print(elements)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

To sort based on length **`key=len`** should be specified as shown.

In [63]:
elements.sort(key=len)
print(elements)
elements.sort(key=len,reverse=True)
print(elements)

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

<h2>Copying a list</h2>

<h3> Shallow copy versus deep copy</h3>
<div>How about copying one list to another?</div>

In [65]:
a = [1,3, 4]
print(a)
b = a
a[0] = 4
print(a)
print(b)

[1, 3, 4]
[4, 3, 4]
[4, 3, 4]

<div>Opps, why did b change? Let's see another case.</div>

In [67]:
a = [1, 2, 3]

def func(input_list):
    input_list[2] = 11
    return input_list

b = func(a)
print("list a:", a)
print("list b:", b)

list a: [1, 2, 11]
list b: [1, 2, 11]

<div>This is because in both the scenarios above, the new variable that we created actually binds to the same memory address of a, which means although it seems that we created a new variable b, it does not take actual memory space and the new variable was a reference to list a. You can verify this using the default id() function as shown below.</div>

In [69]:
print(id(a))
print(id(b))

3013667099904
3013667099904

How to resolve this? We use the copy package to help. In the below cell we import the copy package and show the use of **`copy()`** function to help resplve the problem. Subsequently, we show that copy() function also fails when you have a list inside a list. We use the **`deepcopy()`** funtion to help find a final resolve.

In [71]:
import copy 

# use of copy
a = [1, 2, 3]

b = copy.copy(a)
a[0] = 10

print(a)
print(b)

# copy doesn't help in nested arrays
a = [[1], [1,2], [4,5,6]]
b = copy.copy(a)8
a[0][0] = 10
print(a)
print(b)

# deepcopy helps
a = [[5], [10,2], [12,15,6]]
b = copy.deepcopy(a)

a[0][0] = 10
print(a)
print(b)

[10, 2, 3]
[1, 2, 3]
[[10], [1, 2], [4, 5, 6]]
[[10], [1, 2], [4, 5, 6]]
[[10], [10, 2], [12, 15, 6]]
[[5], [10, 2], [12, 15, 6]]

<h1 id = 'tups' style = "font-size:30px; font-family:verdana ; font-weight : normal; background-color: #f6f5f5 ; color : #fe346e; text-align: center; border-radius: 100px 100px; padding: 10px">Tuples
<a class="anchor-link" href="https://www.kaggle.com/code/varunnagpalspyz/ml-ai-week-1-data-structures-in-python/notebook#tups">Â¶</a>
</h1>

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, Recall **`divmod()`** function.

In [72]:
xyz = divmod(10,3)
print(xyz)
print(type(xyz))

(3, 1)
<class 'tuple'>

<div>Here the quotient has to be 3 and the remainder has to be 1. These values cannot be changed whatsoever when 10 is divided by 3. Hence divmod returns these values in a tuple.</div>
<br>
<div>To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).</div>

In [73]:
tup = ()
tup2 = tuple()

<div>If you want to directly declare a tuple it can be done by using a comma at the end of the data.</div>

In [75]:
27,

(27,)

<div>27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.</div>

In [76]:
2*(27,)

(27, 27)

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [77]:
tup3 = tuple([1,2,3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

It follows the same indexing and slicing as Lists.

In [78]:
print(tup3[1])
tup5 = tup4[:3]
print(tup5)

2
('H', 'e', 'l')

### Mapping one tuple to another

In [79]:
(a,b,c)= ('alpha','beta','gamma')

In [80]:
print(a,b,c)

alpha beta gamma

In [81]:
d = tuple('RajathKumarMP')
print(d)

('R', 'a', 'j', 'a', 't', 'h', 'K', 'u', 'm', 'a', 'r', 'M', 'P')

<h3>Built In Tuple functions</h3>

**`count()`** function counts the number of specified element that is present in the tuple.

In [82]:
d.count('a')

3

**`index()`** function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [83]:
d.index('a')

1

<h1  id ='sets' style = "font-size:30px; font-family:verdana ; font-weight : normal; background-color: #f6f5f5 ; color : #fe346e; text-align: center; border-radius: 100px 100px; padding: 10px">Sets
<a class="anchor-link" href="https://www.kaggle.com/code/varunnagpalspyz/ml-ai-week-1-data-structures-in-python/notebook#sets">Â¶</a>
</h1>

<div>Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.
<br><br>
Set is an unordered collection of unique items. Unordered means when we display the elements of a set, it will come out in a random order. We can perform set operations like union, intersection on two sets. Sets have unique values. They eliminate duplicates. Since, set are unordered collection, indexing has no meaning. Hence, the slicing operator [] will not work.
<br><br>
Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements</div>

In [84]:
first_set = set()
print(type(first_set))

<class 'set'>

In [85]:
list_to_set = set([1,2,2,3,3,4])
print(list_to_set)

{1, 2, 3, 4}

<div>Elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.</div>

<h2>Built-in Functions</h2>

In [86]:
set1 = set([1,2,3])

In [87]:
set2 = set([2,3,4,5])

**`union( )`** function returns a set which contains all the elements of both the sets without repition.

In [88]:
set1.union(set2)

{1, 2, 3, 4, 5}

**`add( )`** will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [89]:
set1.add(0)
set1

{0, 1, 2, 3}

**`intersection( )`** function outputs a set which contains all the elements that are in both sets.

In [90]:
set1.intersection(set2)

{2, 3}

**`difference( )`** function ouptuts a set which contains elements that are in set1 and not in set2.

In [91]:
set1.difference(set2)

{0, 1}

**`symmetric_difference( )`** function ouputs a function which contains elements that are in one of the sets.

In [92]:
set2.symmetric_difference(set1)

{0, 1, 4, 5}

**`issubset( )`, `isdisjoint( )`, `issuperset( )`** is used to check if the set1/set2 is a subset, disjoint or superset of set2/set1 respectively.

In [93]:
set1.issubset(set2)

False

In [94]:
set2.isdisjoint(set1)

False

In [95]:
set2.issuperset(set1)

False

**`pop( )`** is used to remove an arbitrary element in the set

In [96]:
set1.pop()
print(set1)

{1, 2, 3}

**`remove( )`** function deletes the specified element from the set.

In [97]:
set1.remove(2)
set1

{1, 3}

**`clear( )`** is used to clear all the elements and make that set an empty set.

In [98]:
set1.clear()
set1

set()

<h1 id = 'dict' style = "font-size:30px; font-family:verdana ; font-weight : normal; background-color: #f6f5f5 ; color : #fe346e; text-align: center; border-radius: 100px 100px; padding: 10px">Dictionaries
<a class="anchor-link" href="https://www.kaggle.com/code/varunnagpalspyz/ml-ai-week-1-data-structures-in-python/notebook#dict">Â¶</a>
</h1>

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of the numerical indexes such as a list, dictionaries have keys. These keys are labels that are used to access values within a dictionary.

An example of a  Dictionary **Dict**:

In [99]:
Dict={"key1":1,"key2":"2","key3":[3,3,3],"key4":(4,4,4),('key5'):5,(0,1):6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

 The keys can be strings:

In [100]:
Dict["key1"]

1

Keys can also be any immutable object such as a tuple:

In [101]:
Dict[(0,1)]

6

Each key is separated from its value by a colon "**:**".  Commas separate the items, and the whole dictionary is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this  "**{}**".

In [102]:
release_year_dict = {"Thriller":"1982", "Back in Black":"1980", \
                    "The Dark Side of the Moon":"1973", "The Bodyguard":"1992", \
                    "Bat Out of Hell":"1977", "Their Greatest Hits (1971-1975)":"1976", \
                    "Saturday Night Fever":"1977", "Rumours":"1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In summary, like a list, a dictionary holds a sequence of elements. Each element is represented by a key and its corresponding value. Dictionaries are created with two curly braces containing keys and values separated by a colon. For every key, there can only be a single value, however,  multiple keys can hold the same value. Keys can only be strings, numbers, or tuples, but values can be any data type.

You can retrieve the values based on the names:

In [103]:
release_year_dict['Thriller']

'1982'

In [104]:
release_year_dict['The Bodyguard']

'1992'

Now let us retrieve the keys of the dictionary using the method **`keys()`**:

In [105]:
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

 You can retrieve the values using the method  **`values()`**:

In [106]:
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

We can add an entry:

In [107]:
release_year_dict['Graduation']='2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

We can delete an entry:

In [108]:
del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

 We can verify if an element is in the dictionary:

In [109]:
'The Bodyguard' in release_year_dict

True

<h1 id = 'compseq' style = "font-size:30px; font-family:verdana ; font-weight : normal; background-color: #f6f5f5 ; color : #fe346e; text-align: center; border-radius: 100px 100px; padding: 10px">Comparing Sequences
<a class="anchor-link" href="https://www.kaggle.com/code/varunnagpalspyz/ml-ai-week-1-data-structures-in-python/notebook#compseq">Â¶</a>
</h1>

<div>Sequence objects typically may be compared to other objects with the same sequence type. The comparison uses lexicographical ordering: first the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted.</div>

In [110]:
tempa = [1, 2, 3] < [1, 2, 4]
print(tempa)
tempb = 'ABC' < 'C'
print(tempb)

True
True

<div>
<ul>
    <li>For the expression in the first line, as the third elements follows the inequality hence, the expression is true.</li>
    <li>For the the second expression, the inequality holds for the check in the first elements hence, the expression is true. </li>
</ul>
</div>

<div>
 <h1 id = "comprehensions" style = "font-size:30px; font-family:verdana ; font-weight : normal; background-color: #f6f5f5 ; color : #fe346e; text-align: center; border-radius: 100px 100px; padding: 10px">Comprehensions
<a class="anchor-link" href="https://www.kaggle.com/code/varunnagpalspyz/ml-ai-week-1-data-structures-in-python/notebook#comprehensions">Â¶</a>
</h1>
Comprehensions in Python are used to generate new sequences based on existing sequences. In the below cell, demonstrate the use of comprehension construct for creating
<ul>
    <li> Lists: [x**2 for x in range(10)] </li>
    <li> Sets: {c for c in 'abracadabra' if c not in 'abc'}</li>
    <li> Dictionary: {x: x ** 2 for x in range(10)}</li>
</ul>
</div>

In [111]:
data = [x**2 for x in range(10)]
print("List:", data)
data = {x for x in 'abracadabra' if x not in 'abc'}
print("Set:", data)
data = {x: x**2 for x in range(10)}
print("Dictionary:", data)

List: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Set: {'d', 'r'}
Dictionary: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}